{% extends 'base.html.twig' %}

    {% block body %}

        <main class=" container" style="padding-top: 3rem;">

            <div class="jumbotron" style="background: #EDEDED; padding: 2rem 0 1rem 2rem;">
                <h1 class="h1">{{titre}}</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to facture.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">+ d'infos</a>
                </p>
            </div>

            <h3 class="h1" style="margin: 3rem 0 2rem 0;">Offres spéciales</h3>
            <section class="row">

                <article class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-white bg-primary">3 chambres, <strong>50€ </strong>/ nuit</h3>
                        <img style="height: 200px; width: 100%; display: block;" src="https://placeimg.com/640/480/people" alt="people">
                        <div class="card-body">
                            <h5 class="card-title">Loft à Londres</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                            Pas encore noté.
                        </div>
                        </div>
                </article>

                <article class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-white bg-primary">5 chambres, <strong>250€ </strong>/ nuit</h3>
                        <img style="height: 200px; width: 100%; display: block;" src="https://placeimg.com/640/480/nature" alt="people">
                        <div class="card-body">
                            <h5 class="card-title">Maison dans le Main</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                            Pas encore noté.
                        </div>
                        </div>
                </article>

                <article class="col-md-4">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-white bg-primary">2 chambres, <strong>150€ </strong>/ nuit</h3>
                        <img style="height: 200px; width: 100%; display: block;" src="https://placeimg.com/640/480/architecture" alt="people">
                        <div class="card-body">
                            <h5 class="card-title">Appartement à Cannes</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                            Pas encore noté.
                        </div>
                        </div>
                </article>

            </section>

            <h3 class="h1" style="margin: 3rem 0 2rem 0;">Nos meilleurs annonçeur</h3>
            <section class="row">

                <article class="col-md-3">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-primary bg-warning">John Doe</h3>
                        
                        <div class="card-body">
                            <img style="float: left; margin-right: 1em;}" src="https://via.placeholder.com/64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                           
                        </div>
                        </div>
                </article>

                <article class="col-md-3">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-primary bg-warning">John Doe</h3>
                        
                        <div class="card-body">
                            <img style="float: left; margin-right: 1em;}" src="https://via.placeholder.com/64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                           
                        </div>
                        </div>
                </article>
                <article class="col-md-3">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-primary bg-warning">John Doe</h3>
                        
                        <div class="card-body">
                            <img style="float: left; margin-right: 1em;}" src="https://via.placeholder.com/64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                           
                        </div>
                        </div>
                </article>
                <article class="col-md-3">
                    <div class="card mb-3">
                        <h3 class="h4 card-header text-primary bg-warning">John Doe</h3>
                        
                        <div class="card-body">
                            <img style="float: left; margin-right: 1em;}" src="https://via.placeholder.com/64" alt="avatar de ..." class="float-left mr-3">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, veniam harum. Tempore, pariatur assumenda voluptatum doloribus vero, distinctio earum impedit !</p>
                            <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                        </div>
                        
                        <div class="card-footer text-muted">
                           
                        </div>
                        </div>
                </article>

            </section>
        </main>
        
    {% endblock %}
